* {
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #121214;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 50px 1fr 70px;
    
}

/* ================== Header ================== */
header{
    background: #202024;
    grid-area: header;
    /* align-items: center; */
    display: flex;

}
header img{
    padding-left: 50px;
    float: left;
    width: 100px;
    height: 100%; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav li{
    float: left;
    list-style: none;
}
nav a {
    color: rgb(156, 156, 156);
    text-decoration-line: none;
}

nav a:hover{
    color: white;
}

#git{
    color: #DEBF05;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    float: left;
    width: 100px;
    height: 100%;
}

#git:hover{
    color: #b89e0f;
}

/* ================== Main ================== */
main{
    grid-area: main;
    color: white;
    padding: 16px;
}
main h1{
    /* padding: 8px; */
    text-align: center;
    padding-bottom: 16px;
}
main h2{
    padding-bottom: 16px;
}
main p {
    padding-bottom: 8px;
}
main mark{
    background: #DEBF05;
    color: black;
}
.texto {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}


/* ================== Footer ================== */
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 8px;
    font-size: 15px;
    float: right;
    color: white;
    background: #202024;
}

footer li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer a {
    color: #DEBF05;
    text-decoration: none;
    padding: 10px;
}

#scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scroll:hover{
    color: #b89e0f;
}
#scroll span{
    margin-left: 35%;
}


@media screen and (max-width: 425px){
    *{
        width: 100vw;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    footer{
        height: 100vh;
        max-height: 50px;
        display: flex;
        justify-content: flex-end;
    }

    #social-links{
        display: flex;
        justify-content: center;
        gap: 0;
        padding: 0;
    }

    footer a{
        width: 20px;
        padding: 0;
    }

    footer p {
        font-size: 10px;
    }
}